body{
    background-color: #004a6e;
    margin: 0;
    max-width: 100%;
    min-height: 100%;
}


/*  Background Image  */

.background_image {
    background: url('../Media/sign_in_background_image.jpg') center/cover no-repeat;
    height: 100vh;
    width: 100%;
    top: 0px;
    position: fixed;
    text-align: center;
    filter: blur(3px);
    z-index: -1;
}


/*  Create an acount div  */


.page_center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 500px;
    margin-top: 8vh;
    font-size: 15px;
    border-radius: 15px;
    color: black;
    padding: 5px;
    text-align: center;
    border-radius: 15px;
}


@media (max-height: 950px) and (max-width: 500px) {
    .page_center{
        margin-top: 15vh;
    }
}

@media (max-height: 500px) and (max-width: 950px) {
    .page_center{
        margin-top: 15vh;
    }
}


.createAccountDiv{
    width: 300px;
    height: auto;
    text-align: center;
    font-size: 15px;
    border-radius: 15px;
    background-color: #4fb1e5;
}


/*  To customize the inputs  */

input[type="text"] {
    background-color: #4fb1e5;
    border-style: solid;
    border-color: black;
    color: black;
    border-radius: 5px;
    width: 50%;
}

input[type="password"] {
    background-color: #4fb1e5;
    border-style: solid;
    border-color: black;
    color: black;
    border-radius: 5px;
    width: 50%;
}

input[type="tel"] {
    background-color: #4fb1e5;
    border-style: solid;
    border-color: black;
    color: black;
    border-radius: 5px;
    width: 50%;
}

input[type="submit"]{
    padding: 7px 14px;
    font-size: 15px;
    background-color: #4fb1e5;
    transition: transform 0.3s ease-in-out;
    color: black;
    border-color: black;
}

input[type="submit"]:hover {
    transform: scale(1.1); 
}

input::placeholder{
    color:black;
}